footer {
    background-color: #2E948A;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);

}

.footer {
    display: flex;
    min-width: 1440px;
    padding: 0 130px;
    margin: 0 auto;
    gap: 230px;
}

nav {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

nav a{
    display: inline-block;
    margin-bottom: 10px;
}

.footer .lista {
    display: flex;
    flex-direction: column;

}

.links div {
    margin-bottom: 13px;
    padding: 14px 41px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 62px;

}

.links div a {
    color: #FDFDFD;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

}



/* @media only screen and (min-width: 0px) {
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    header nav{
    }

    nav ul{
        margin: 0 auto;
    }

    .primeira-sessao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .educacao-financeira{
        width: 100%;
    }

    .educacao-financeira h1{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 19px;
    }
    .educacao-financeira p{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 39px;
    }
    .educacao-financeira a{
        text-align: center;
        margin: 0 auto;
    }

   .imagem-sessao{

   }
    
} */