.section-post h1 {
    padding-top: 111px;
    margin-bottom: 12px;
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    align-items: center;
    color: #FF4081;

}

.section-post p {
    margin-bottom: 74px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #9D9D9D;
    text-align: center;
}

.bloco {
    margin-bottom: 64px;
    height: 465px;
    background: #C4C4C4;
}

.texto p {
    margin-bottom: 30px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000
}

.texto h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #009688;
    font-family: 'Ubuntu'

}

.container {
    background: #F7F7F7;
    gap: 134px;
    padding: 109px 0px 119px 0px;
    text-align: center;
    display: flex;
    justify-content: center
}

.card {
    justify-content: center;
}

.card h3 {
    margin-top: 45px;
    margin-bottom: 23px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;

}

.card p {

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;

}

.card a {
    padding: 15px 50px;
    margin-top: 26px;
    display: inline-block;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #FF4081;
    border-radius: 62px;
}

.card-sobre {
    display: flex;
}

.container-sobre-section h2 {
    margin-bottom: 78px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 50px;
    color: #009688;
}

.card-sobre p {
    text-align: justify;
    width: 363px;
    height: 70px;

}

.sobre-container {
    display: flex;
    gap: 200px;
    margin-bottom: 85px;
}

.container-sobre-section {
    padding: 120px 0px 100px 50px;
}

.super-container {
    background-color: #F7F7F7;
    text-align: center;
    padding-top: 79px;
}

.super-container h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    align-items: center;
    color: #FF4081;

}